<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reading list</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <link rel="resetsheet" href="./reset.css">
    <link rel="shortcut icon" href="./icons/favicon.ico">
</head>
<body>
    <!-- header -->
    <header>
        <div class="header_wrapper">
            <img src="./image/image.jfif" alt="topimg" class="header_image mw-100" onclick="location.href='index'">
            <p class="header_text text-light display-1" th:object="${user}"><span th:text="|*{name}'s reading list|"></span></p>
        </div>
    </header>
    <!-- header -->

    <!-- main -->
    <main>
        <div class="row btns_wrapper">
            <button class="btn col btn-outline-success" id="delete_complete" onclick="location.href='index'">ホームに戻る</button>
            <button type="button" class="btn col btn-outline-success" id="btn_userList" onclick="location.href='userMidokuList'">みんなの読みたい本</button>
            <button type="button" class="btn col btn-outline-success" id="btn_userList" onclick="location.href='userKidokuList'">みんなの読んだ本</button>

            <form th:action="@{/user}" th:object="${userPlanBookRequestt}" th:method="post" class="col">
                <div>
                     <input type="hidden" th:object="${user}" name="id" th:value="*{id}" />
                     <input type="hidden" th:object="${user}" name="name" th:value="*{name}" />
                     <input type="submit" class="btn btn-outline-success tsundoku_back" value="積読リストに戻る"  />
                </div>
            </form>
        </div>

        <div class="title">
            <p id="bookshelf_title">本棚</p>
        </div>

        <!-- <div>
        	<button type="button" class="btn col btn-outline-success" id="btn_userList" onclick="location.href='userList'">利用者一覧を見る</button>
          <button type="button" class="btn col btn-outline-success" id="back_to_index" onclick="location.href='index'">ホームに戻る</button>
        </div> -->

        <table class="table">

            <thead>
                <tr>
                    <th>本の題名</th>
                    <th>読みたい本リストに追加</th>
                </tr>
            </thead>

            <tbody th:each="book : ${myNotReadBookList}">
            	<tr>
                    <td th:text="${book.book_name}"></td>
                    <td>
				    	<form th:action="@{/addPlanBook}" th:object="${BookUserEditRequest}" th:method="post">
							<div>
								<input type="hidden" th:object="${user}" name="user_id" th:value="*{id}" />
								<input type="hidden"  name="book_id" th:value="${book.id}" />
								<input type="hidden"  name="book_name" th:value="${book.book_name}" />
								<input type="submit" class="btn btn-outline-success"  value="追加"  />
							</div>
						</form>
				    </td>
                </tr>
            </tbody>
        </table>

    </main>
    <!-- main -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</body>
</html>
