<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1 class="header_title" th:object="${userPlanBook}"><span th:text="*{book_name}"></span></h1>
    </header>

    <header>
        <h1 class="header_title">タイトルの編集</h1>
    </header>
    <!-- header -->

    <!-- main -->
    <main>
        <form th:action="@{/editComplete}" th:object="${userPlanBookEditRequest}" th:method="post">
	            新しい名前：<input type="text" name="book_name" />
	           	<input type="hidden" th:object="${userPlanBook}" name="user_id" th:value="*{user_id}" />
	           	<input type="hidden" th:object="${userPlanBook}" name="book_id" th:value="*{book_id}" />
	            <input type="submit" value="編集" />
   		</form>
    </main>
    <!-- main -->
</body>
</html>