<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- header -->
    <header>
        <h1 class="header_title">usernameの積読リスト</h1>
    </header>
    <!-- header -->

    <main>
        <div class="btns_wrapper">
            <button class="btn" id="btn_userSearch" onclick="location.href='userSearch.html'">ユーザー名から検索する</button>
            <button class="btn" id="btn_userList" onclick="location.href='userList.html'">利用者一覧を見る</button>
        </div>
    </main>
</body>
</html>