<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kidokuComplete</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <link rel="resetsheet" href="./reset.css">
    <link rel="stylesheet" href="./index.css">
</head>

<body>
    <h1>未読に変更しました</h1>

	<div class="row btns_wrapper">
		<button type="button" class="btn col btn-outline-success" id="btn_userSearch" onclick="location.href='userSearch'">ユーザー名から検索する</button>
        <button type="button" class="btn col btn-outline-success" id="btn_userList" onclick="location.href='userList'">利用者一覧を見る</button>
    </div>

</body>
</html>