<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Hello</title>
    <meta charset="utf-8" />
  </head>
  <body>
  	<h1>本情報一覧</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>名前</th>
                <th>削除ボタン</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${userPlanBookList}">
                <td class="center" th:text="${book.bookId}"></td>
                <td th:text="${book.bookName}"></td>
                <td>
                	<form th:action="@{/deletebook/}" th:object="${bookDeleteRequest}" th:method="post">
				        <div>
				        	<input name="book_id" type="hidden" th:value="${book.bookId}"/>
				            <input type="submit" value="削除" />
				        </div>
				    </form>
                </td>
            </tr>
        </tbody>
    </table>
  </body>
</html>