<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- header -->
    <header>
        <h1 class="header_title" th:object="${user}"><span th:text="*{name}"></span>の積読リスト</h1>
    </header>
    <!-- header -->

    <!-- main -->
    <main>
        <!-- 読みたい本リスト -->
        <div class="yomitai_wrapper">
            <div class="yomitai_title">
                <button id="btn_bookshelf" onclick="location.href='bookshelf'">本棚</button>
            </div>
            <div class="yomitai_list">
                <!-- to Springチーム：ここに読みたい本リストを挿入 -->
                <h2>本棚</h2>
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th>読みたい本リスト</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="book : ${userPlanBookList}">
                                <td th:text="${book.book_name}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- 読みたい本リスト -->

        <!-- 読んだ本リスト -->
        <div class="kidoku_wrapper">
            <div class="kidoku_title">
                <h2>読んだ本リスト</h2>
            </div>
            <div class="kidoku_list">
                <!-- to Springチーム：ここに読んだ本リストを挿入してください  -->
            </div>
        </div>
        <!-- 読んだ本リスト -->

    </main>
    <!-- main -->

    <script>
        // JavaScriptを記述する
    </script>

</body>
</html>