<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>userList</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <link rel="resetsheet" href="./reset.css">
    <link rel="stylesheet" href="./userList.css">
</head>
<body>
    <!-- header -->
    <header>
        <div class="header_wrapper">
            <img src="./image/image.jfif" alt="topimg" class="header_image mw-100" onclick="location.href='index'">
            <p class="header_text text-light display-1">reading list</p>
        </div>
    </header>
    <!-- header -->

    <!-- main -->
    <main>
        <div class="row btns_wrapper">
            <button type="button" class="btn col btn-outline-success" id="btn_userSearch" onclick="location.href='userSearch'">ユーザー検索</button>
            <button type="button" class="btn col btn-outline-success" id="btn_index" onclick="location.href='index'">ホームに戻る</button>
            <button type="button" class="btn col btn-outline-success" id="btn_userList" onclick="location.href='userList'">ユーザ一覧を見る</button>
            <button type="button" class="btn col btn-outline-success" id="btn_userList" onclick="location.href='userMidokuList'">積読情報を見る</button>
        </div>

        <div class="title">
            <p>読んだ本情報一覧</p>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>ユーザー名</th>
                    <th>読んだ本</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${userKidokuList}" th:object="${userKidokuList}">
                    <td th:text="${user.userName}"></td>
                    <td th:text="${user.kidokuBookTitle}"></td>
                </tr>
            </tbody>
        </table>

    </main>
    <!-- main -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</body>
</html>
